@charset "utf-8";
/* CSS Document */
.body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    max-width:1024px;
    margin: auto;
    font-size: 16px;
    background-color: #eec99a;; 
    color: #696969;
    }
	
.header {
    max-width:1024px;
    width: 100%;
    position:fixed;
    width: 100%;
    top:0;
    background-color: #eec99a;
    margin: 0;
    padding: 0;
    border: 0;
    }
.imgheading:hover {
	content:url(logo2.png);
	}
	
ul {
    max-width:1024px;
    position: fixed;
    top: 100px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
   float: left;
   }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    }

li a:hover {
    background-color: #eec99a;
	color: black;
    }
    
.space {
    padding: 140px 0 0 0;
    }
    
.main {
    max-width:100%;
    margin: 0;
    padding: 10px 0px 10px 10px;
    border: 0;
    font-size: 16px;
    background-color: #FFF; 
    color: #000;
    }
	
.container1 {
	float:left; 
	max-width:22.99999%;
	}

.container1:hover {
    background-color: #eec99a;
    }
	
.submain {
	margin:2px 2px 2px 2px;
	padding:0px 5px 0px 5px;
	background-color: #FFF; 
    color: #000;
	text-align:justify;
	}
	
footer{
	clear: both;
	}
	
.center{text-align:center;}

.imgcontent{max-width:100%;}
	
.headaside{
	float:right;
	font-size: 16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	color: #000;
	}

.justify {text-align:justify}

.topborder1 {border-top:1px solid #000;}

p{margin:auto; padding: 10px 2px 10px 2px; border:0;}



