/*test*/
body {
	font-family: 'Raleway', sans-serif;
	background: url(img/pattern.png);
	margin:0px;
	}
a 	{
	text-decoration:none;
	color:black;
	}
header {
	top:0;
	left:0;
	background-color:lightblue;
	padding-top:10px;
	padding-bottom:10px;
	margin:auto;
	position:fixed;
	width:100%;
	border-bottom:2px solid black;
	}
header img{
	float:left
	}
header img:hover{
	content:url(img/logo2.png);
	}
ul {
	float:right;
	list-style-type: none;
    margin-top: 40px;
	margin-bottom:0;
    padding-right: 10px;
	padding-bottom:0;
    border: 0;
    overflow: hidden;
	}
ul a {
	display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
	padding: 12px 16px;
	}
ul a:hover {
	background-color:white;
	color:blue;
	}
ul a:active{
	font-weight:900;
	}
.main{
	padding-top:150px;
	max-width:90%;
	margin:auto;
	padding-bottom:50px;
	}
.lcontainer{
	float:left;
	max-width: 25%;
	padding: 10px 20px;
	background-color:white;
	border:0.5px solid lightgrey;
	margin-bottom:2%;
	}
.profile{
	box-shadow:0px 2px 2px 2px grey;
	}
.profile h2{
	margin:0;
	padding:0px 4px 4px 4px;
	text-align:center;
	}
.profile img{
	max-width:100%;
	border-bottom:1px solid black;
	}
.identity{
	margin-top:20px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	}
	p {
	text-align:justify;	
	}
.rcontainer{
	float:left;
	max-width: 60%;
	padding: 10px 20px;
	background-color:white;
	border:0.5px solid lightgrey;
	margin-left:10px;
	margin-bottom:2%;
	text-align:justify;
	}
.rcontainer h2{
	border-bottom:1px solid lightgrey;
	}
.interest{
	text-align:center;
	margin-bottom:10px;
	}	
.content{
	display:inline-block;
	max-width:20%;
	padding:6px;
	margin:auto;
	}
.content img{
	max-width:100%;
	}
.content:hover{
	background-color:black;
	color:white;
	}
.content h3{
	margin:0;
	padding:4px 4px 4px 4px;
	text-align:center;
	}
.contact{
	text-align:center;
	font-size:30px;
	}
.facebook:hover{color:blue;}
.linkedin:hover{color:green;}
.github:hover{color:purple;}
footer {
	clear:both;
	text-align:center;
	background-color: black;
	color: #fff;
	padding: 10px;
	}
