@charset "utf-8";
/*test*/
body{
	font-family:'Raleway', sans-serif;
	max-width: 85%;
	margin:auto;
	background-image:url('img/pattern.png');
	}
a 	{
	text-decoration:none;
	color:black;
	}
header{
	max-width:85%;
	width:100%;
	background-color:lightblue;
	position:fixed;
	margin:auto;
	}
header img{
	padding-top:5px;
	}
header img:hover{
	content:url('img/logos2.png')
	}
nav ul	{
    	max-width:85%;
			width: 100%;
			background-color: black;
    	position: fixed;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	border: 0;
    	overflow: hidden;
    	}
li a 	{
    	display: inline-block;
    	color: lightblue;
    	text-align: center;
    	padding: 12px 16px;
    	}
li a:hover {
    	background-color: lightblue;
	color: black;
    	}
.main	{
	padding-top:150px;
	margin:auto;
	padding-bottom:50px;
	}
.lcontainer{
	float:left;
	max-width: 25%;
	padding: 10px 20px;
	background-color:white;
	border:0.5px solid lightgrey;
	margin-bottom:2%;
	}
.profile{
	box-shadow:0px 2px 2px 2px grey;
	}
.profile h2{
	margin:0;
	padding:0px 4px 4px 4px;
	text-align:center;
	}
.profile img{
	max-width:100%;
	border-bottom:1px solid black;
	}
.identity{
	margin-top:20px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	}
	p {
	text-align:justify;
	}
.rcontainer{
	float:right;
	max-width: 60%;
	padding: 10px 20px;
	background-color:white;
	border:0.5px solid lightgrey;
	margin-left:10px;
	margin-bottom:2%;
	text-align:justify;
	}
.rcontainer h2{
	border-bottom:1px solid lightgrey;
	}
.interest{
	text-align:center;
	margin-bottom:10px;
	}
.content{
	display:inline-block;
	max-width:20%;
	padding:6px;
	margin:auto;
	}
.content img{
	max-width:100%;
	}
.content:hover{
	background-color:black;
	color:white;
	}
.content h3{
	margin:0;
	padding:4px 4px 4px 4px;
	text-align:center;
	}
.contact{
	text-align:center;
	font-size:30px;
	}
.facebook:hover{color:blue;}
.linkedin:hover{color:green;}
.github:hover{color:purple;}

footer {
	clear:both;
	text-align:center;
	background-color: black;
	color: #fff;
	padding:10px;
	bottom:0;
	}
